* {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

body {
  line-height: 1;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* 유동적인 칼럼 */
  grid-gap: 16px; /* 카드 간격 */
}

.wrapper .card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: scale(0);
  opacity: 0;
}

.wrapper .card.animation {
  transform: scale(1);
  opacity: 1;
}

.wrapper .fallback {
  font-size: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
